$color_1: #fff;
$font-family_1: 'Lato', sans-serif;
$background-color_1: #eaeaea;
$background-color_2: #fff;
$background-color_3: #f1f1f1e6;


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    text-align: center;
    background-color: $background-color_2;
    border-radius: 10px;
    cursor: pointer;
    height: 400px;
    width: 300px;

    img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .profile {
        border-radius: 10px;
        transition: 0.2s;
    }

    &:hover {
        .profile {
            transform: scale(1.4);
            border-top-right-radius: 50px;
            border-top-left-radius: 50px;
        }

        .content {
            .from-left {
                left: 0%;
            }

            .from-bottom {
                top: 0%;
            }

            .from-right {
                right: 0;
            }
        }
    }

    .content {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;

        .back {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $background-color_3;
            transition: 1s;
            z-index: 1;
            padding: 10px;

            h3 {
                font-size: 15px;
                letter-spacing: 2px;
            }

            .tem-img {
                border-radius: 100%;
            }

            .des {
                // font-size: 13px;
                padding: 20px 0px;
            }

            .social-icon {
                list-style: none;
                margin: 0px;
                padding: 0px;

                li {
                    display: inline-block;
                }
            }
        }
    }
}

.from-left {
    top: 0;
    left: -100%;
}


@media screen and (max-width: 700px) {
    .container {
        width: 100%;
    }

    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}